AWS_ACCESS_KEY_ID=<sua-key>
AWS_SECRET_ACCESS_KEY=<sua-secret>
AWS_REGION=us-east-1
TF_VAR_alert_email=seu-email@exemplo.com

# Opcional: sobrescrever se alterar server_name no Terraform
# SERVER_NAME=minecraft-server